
<!DOCTYPE html>
<html>
	<head>
		<title>[$(Build.DefinitionName)] wurde auf $(Release.EnvironmentName) deployt [v$(Build.BuildNumber)]</title>

		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	</head>
	<body style='font-family:"Segoe UI","sans-serif";font-size:10.0pt;margin:auto;padding:80pt 15%'>
		<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;width:100%;border-left:1pt solid #c0c0c0;border-right:1pt solid #c0c0c0'>
			<tr>
				<td style='background: rgb(67, 73, 76);padding:0cm 26.25pt 0cm 26.25pt'>
					<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;border-collapse:collapse;min-height:45px'>
						<tr>
							<td style='padding:0cm 0cm 0cm 0cm'>
								<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse'>
									<tr>
										<td>
											<p class=MsoNormal>
												<span style='font-family:"Segoe UI","sans-serif";font-size:27pt;font-weight:700;color:white'>alles</span>
											</p>
										</td>
										<td valign=top style='padding:0'>
											<p class=MsoNormal>
												<span style='font-family:"Segoe UI","sans-serif";font-size:27pt'>
													<img style="margin:0;padding:0;display:block" border=0 width=120 height=110 src="https://www.alles-berechnen.de/assets/images/android-touch-icon-192x192.png">
												</span>
											</p>
										</td>
										<td>
											<p class=MsoNormal>
												<span style='font-family:"Segoe UI","sans-serif";font-size:27pt;color:white'>berechnen</span>
											</p>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style='background:white;padding:18.75pt 22.5pt 18.75pt 30.0pt'>
					<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;border-collapse:collapse'>
						<tr>
							<td style='padding:0cm 0cm 0cm 0cm'>
								<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;border-collapse:collapse'>
									<tr>
										<td style='padding:0cm 0cm 0cm 0cm'>
											<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 style='border-collapse:collapse;width:100.0%'>
												<tr>
													<td style='font-family:"Segoe UI","sans-serif";padding:7.5pt 0cm 7.5pt 0cm'>Hallo zusammen,</td>
												</tr>
												<tr>
													<td colspan=4 style='font-family:"Segoe UI","sans-serif";padding:7.5pt 0cm 7.5pt 0cm'>eine neue Version <span style="font-weight:600">
														v$(Build.BuildNumber)</span> vom <span style="font-weight:600">$(Build.DefinitionName)-Rechner</span> wurde auf $(Release.EnvironmentName) deployt.
														<span style="margin-left:5pt;border:2pt solid #ffa600;padding:5pt 10pt">
															<a style='font-family:"Segoe UI","sans-serif";text-decoration:none;color:#ffa600;font-weight:600' href="$(startUrl)?calc=$(Build.DefinitionName)" target="_blank">Zum Rechner</a>
														</span>
													</td>
												</tr>
												<tr>
													<td colspan=4 style='padding:7.5pt 0cm 7.5pt 0cm'>
														<table>
															<tr>
																<td style='font-family:"Segoe UI","sans-serif";font-weight:600;background:#a5a5a5;padding:5pt;border-top-left-radius:2pt;border-bottom-left-radius:2pt;'>
																	Rechner
																</td>
																<td style='font-family:"Segoe UI","sans-serif";width:200pt;background:#e4e4e4;padding:5pt;border-top-right-radius:2pt;border-bottom-right-radius:2pt;'>
																	$(Build.DefinitionName)
																</td>
															</tr>
															<tr>
																<td style='font-family:"Segoe UI","sans-serif";font-weight:600;background:#a5a5a5;padding:5pt;border-top-left-radius:2pt;border-bottom-left-radius:2pt;'>
																	Version
																</td>
																<td style='font-family:"Segoe UI","sans-serif";background:#e4e4e4;padding:5pt;border-top-right-radius:2pt;border-bottom-right-radius:2pt;'>$(Build.BuildNumber)</td>
															</tr>
															<tr>
																<td style='font-family:"Segoe UI","sans-serif";font-weight:600;background:#a5a5a5;padding:5pt;border-top-left-radius:2pt;border-bottom-left-radius:2pt;'>
																	Umgebung
																</td>
																<td style='font-family:"Segoe UI","sans-serif";background:#e4e4e4;padding:5pt;border-top-right-radius:2pt;border-bottom-right-radius:2pt;'>$(Release.EnvironmentName)</td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td style='font-family:"Segoe UI","sans-serif";padding:7.5pt 0cm 7.5pt 0cm'>Für mehr Info</td>
												</tr>
												<tr>
													<td style='padding:5pt 0cm;width:25%;text-align:center;color:#fff;background:#ffa600;border:#fff 1pt solid'>
														<a style='font-family:"Segoe UI","sans-serif";text-decoration:none;color:#fff;font-weight:600' href="$(System.TeamFoundationCollectionUri)/$(System.TeamProject)/_apps/hub/ms.vss-releaseManagement-web.hub-explorer?definitionId=$(Release.DefinitionId)&releaseId=$(Release.ReleaseId)&_a=release-logs">Logs</a>
													</td>
													<td style='padding:5pt 0cm;width:25%;text-align:center;color:#fff;background:#ffa600;border:#fff 1pt solid'>
														<a style='font-family:"Segoe UI","sans-serif";text-decoration:none;color:#fff;font-weight:600' href="$(System.TeamFoundationCollectionUri)/$(System.TeamProject)/_apps/hub/ms.vss-releaseManagement-web.hub-explorer?definitionId=$(Release.DefinitionId)&releaseId=$(Release.ReleaseId)&_a=release-summary">Summary</a>
													</td>
													<td style='padding:5pt 0cm;width:25%;text-align:center;color:#fff;background:#ffa600;border:#fff 1pt solid'>
														<a style='font-family:"Segoe UI","sans-serif";text-decoration:none;color:#fff;font-weight:600' href="$(System.TeamFoundationCollectionUri)/$(System.TeamProject)/_apps/hub/ms.vss-releaseManagement-web.hub-explorer?definitionId=$(Release.DefinitionId)&releaseId=$(Release.ReleaseId)&_a=release-workitems">Work items</a>
													</td>
													<td style='padding:5pt 0cm;width:25%;text-align:center;color:#fff;background:#ffa600;border:#fff 1pt solid'>
														<a style='font-family:"Segoe UI","sans-serif";text-decoration:none;color:#fff;font-weight:600' href="$(System.TeamFoundationCollectionUri)/$(System.TeamProject)/_apps/hub/ms.vss-releaseManagement-web.hub-explorer?definitionId=$(Release.DefinitionId)&releaseId=$(Release.ReleaseId)&_a=release-contribution-tab-test-result-in-release-management">Tests</a>
													</td>
												</tr>
												<tr>
													<td style='font-family:"Segoe UI","sans-serif";padding:10pt 0cm 5pt 0cm'>Viele Grüße,</td>
												</tr>
												<tr>
													<td colspan=4 style='padding:5pt 0cm'>
														<p>
															<span style='font-family:"Segoe UI","sans-serif"'>TFS auf
																<a style='font-family:"Segoe UI","sans-serif"' href="$(System.TeamFoundationServerUri)" target="_blank">3i-srv-ds-02</a>
															</span>
														</p>
													</td>
												</tr>
												
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style='background:#DDDDDD;padding:0cm 22.5pt 0cm 22.5pt'>
					<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 width="100%" style='width:100.0%;border-collapse:collapse'>
						<tr>
							<td colspan=2 style='padding:11.25pt 0cm 0cm 0cm'>
								<p class=MsoNormal style='line-height:13.5pt'>
									<span style='font-size:9.0pt;font-family:"Segoe UI","sans-serif";color:#444444'>
										Dies ist eine automatisch generierte E-Mail, antworte bitte nicht direkt auf diese E-Mail. Bei Fragen schreibe eine E-Mail an <a href="mailto:entwicklung@3imedia.de">Entwicklung Team</a>.
									</span>
								</p>
							</td>
						</tr>
						<tr>
							<td style='padding:0cm 0cm 0cm 0cm;width:90%'>
								<table class=MsoNormalTable border=0 cellspacing=0 cellpadding=0 align=left style='border-collapse:collapse;margin-left:-2.25pt;margin-right:-2.25pt'>
									<tr>
										<td style='padding:11.25pt 0cm 11.25pt 0cm'>
											<p class=MsoNormal style='line-height:13.5pt'>
												<span style='font-size:9.0pt;font-family:"Segoe UI","sans-serif";color:#444444'>
													Gesendet von NubeOne TFS
												</span>
											</p>
										</td>
									</tr>
								</table>
							</td>
							<td valign=top style='padding:0cm 0cm 20pt 0cm'>
								<p class=MsoNormal>
									<span style='font-family:"Segoe UI","sans-serif";font-size:27pt'>
										<img style="margin:0;padding:0cm 0cm 10pt 0cm;display:block" border=0 width=80 height=40 src="https://www.alles-berechnen.de/assets/images/nubeone-logo.png">
									</span>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>